body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.icon-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.icon-link:hover {
    opacity: 0.6;
}

.climate-crisis {
    font-family: "Climate Crisis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "YEAR" 1979;
    color: white;
}

.zalando-sans {
    font-family: "Zalando Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: white;
}

.zalando-sans-expanded {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.email-container {
    position: relative;
    display: inline-block;
}

.email-icon {
    position: relative;
    z-index: 2;
}

.email-slide {
    position: absolute;
    left: 40px;
    top: 0px;
    background: rgba(0, 0, 0, 0.075);
    padding: 11.5px;
    padding-left: 25px;
    border-radius: 5px;
    font-family: "Zalando Sans", sans-serif;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-20px);
    transition: all 0.4s ease;
    z-index: 1;
    pointer-events: none;
}


.email-slide.active {
    opacity: 1;
    transform: translateX(0);
}

.copy-btn {
    pointer-events: auto;
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.125);
    transition: 0.2s;
}

.copy-btn:hover {
    background: rgba(0, 0, 0, 0.185);
}

.copy-btn.copied {
    background: rgb(170, 214, 238);
}

.email-slide .copy-btn {
    cursor: default;
}

.email-slide.active .copy-btn {
    cursor: pointer;
}

.button {
    border-radius: 25px;
    background-color: white;
    color: black;
    padding: 13px 18px;
    display: inline-block;
    border: 2px solid white;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    transition-duration: 0.4s;
    text-decoration: none;
    border: 2px solid white;
}

#toast {
    position: fixed;
    top: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 12px 18px;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    font-family: "Zalando Sans", sans-serif;
    transition: opacity 0.4s ease, transform 0.4s ease;
    transform: translateY(-20px);
    z-index: 9999;
    overflow: hidden;
}

#toast.show {
    opacity: 1;
    transform: translateY(0);
}

.toast-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background: #4E9CC0;
    width: 0%;
}

footer {
    margin-top: auto;
    padding: 15px;
    background-color: white;
}

.glass-card {
    padding: 15px;
    width: 80%;
    margin: 5% 10%;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 20px 10px rgb(255, 255, 255, 0.35);
    position: relative;
    overflow: hidden;
}

summary {
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    color: white;
}

summary:hover {
    color: rgba(0, 0, 0, 0.5);
    transition-duration: 0.4s;
}

summary::marker {
    content: "";
}

summary::before {
    content: "▶";
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

details[open] summary::before {
    transform: rotate(90deg);
}

.project-img-container {
    position: relative;
    display: inline-block;
    width: 60%;
}

.project-img {
    display: block;
    width: 100%;
    height: auto;
    transition: filter 0.25s ease;
    cursor: pointer;
    border-radius: 10px;
}

.project-img:hover {
    filter: brightness(85%);
}

.project-img.clicked:hover {
    filter: none;
}

.img-counter {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 14px;
    pointer-events: none;
}

a:hover {
    transition-duration: 0.25s;
    text-decoration: none;
}

.table:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition-duration: 0.25s;
}

th:hover {
    background-color: rgba(255, 255, 255, 0.4);
    transition-duration: 0.15s;
}

td:hover {
    background-color: rgba(255, 255, 255, 0.4);
    transition-duration: 0.15s;
}

.img-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 5px 15px 5px 0px;
}

@media (max-width: 768px) {
    .project-img-container {
        width: 100%;
    }

    .img-counter {
        font-size: 12px;
        padding: 3px 6px;
    }

    .site-text {
        text-align: center;
        font-size: 25px;
    }

    th {
        font-size: 12px;
        text-align: center;
    }
}
